header{
  background-image: url("img/pizzabackground.jpg");
  background-size: cover;
}
nav{
  float: left;
}
nav ul li{
  line-height: 100%;
  margin-bottom: 10px;
}
nav ul{
  list-style: none;
}
nav a{
  font-size: 20px;
  text-decoration: none;
  color: white;
}
header::after{
  content: "";
  display: table;
  clear: both;
}
