/* header{
  background-image: url("img/pizzabackground.jpg"); 
   background-size: cover; 
} */

/* nav{
  float: left;
}
nav ul li{
  line-height: 100%;
  margin-bottom: 10px;
}
nav ul{
  list-style: none;
} */

header a{
  text-decoration: none;
  color: white;
} 

header::after{
  content: "";
  display: table;
  clear: both;
}

.header-nav a:hover {
  background-color: #ddd;
  transition: ease-in 250ms;
}

.header-nav a{
  float: right;
  border-radius: 4px;
  padding: 12px;
}

.header{
  float: right;
}

.logo{
  float: left;
}
